# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles
indi_stupiddogfocuser

/software/driver/indi/nbproject/private/Default.properties
/software/driver/indi/nbproject/private/c_standard_headers_indexer.c
/software/driver/indi/nbproject/private/Default-build.log
/software/driver/indi/nbproject/private/launcher.properties
/software/driver/indi/nbproject/private/CodeAssistancePathMapper.properties
/software/driver/indi/nbproject/private/cpp_standard_headers_indexer.cpp
/software/driver/indi/nbproject/private/Default-exec.log
*rescue*
/software/driver/ascom/StupidDogFocuser/.vs/StupidDogFocuser/v14
/software/driver/ascom/StupidDogFocuser/obj/Debug
/software/driver/ascom/StupidDogFocuser/bin/Debug
/software/driver/ascom/StupidDogFocuser/obj
